.btn {
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.container {
  text-align: center;
  font-size: 1.5em;
  color: rgb(112, 25, 108);
}
.countrytext:hover {
  color: rgb(112, 25, 108);
}

.inputgroup {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  color: rgb(112, 25, 108);
}
.inputgroup :hover {
  border: none;
  border-bottom: 2px solid rgb(112, 25, 108);
}
